@font-face {
  font-family: 'Lack';
  src:
       url('../fonts/Lack-Line-Regular.otf') format('otf');
}

@import url('https://fonts.googleapis.com/css?family=Forum');

body {
  width: 100vw;
  font-family: 'Forum', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #EF8354; */
  background-color: #FBFEFB;
  /* background-color: #BEDCFE; */
  color: #DB3A34;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}

::selection{
    background-color: #000;
    color: white;
}

span {
  cursor: pointer;
  font-family: 'Lack Line';
  margin: auto;
  font-size: 90px;
  transition: 2s all ease
}

span:hover {
  font-family: 'Lack';
  color: #F298E9;
  font-size: 55px;
}

div.main {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

div.big {
  margin-top: 85px;
}
/*
div.big::after:hover, div.big::before:hover {
  content: "click me";
} */

.draggable {
  cursor: grab;
}

div.container-video {
  height: 200px;
  width: 400px;
  position: fixed;
  margin-top: 225px;
  margin-left: 38px;
  cursor: pointer;
}

video:hover {
  filter: opacity(30%);
}

video {
  transition: .3s all ease;
  height: 200px;
  width: 400px;
}

.videoText {
  position: absolute;
  font-family: 'Forum', cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.videoText:hover {
  color: black;
}

div.container-poetry {
  height: 200px;
  width: 400px;
  position: fixed;
  margin-top: 225px;
  margin-left: 1000px;
  cursor: pointer;
  transition: .3s all ease;
}

div.poetry {
  position: absolute;
  height: 200px;
  width: 400px;
  background-image: url(../images/setka.jpg);
  background-size: cover;
}

.poetryText {
  z-index: 999;
  position: absolute;
  font-family: 'Forum', cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: blue;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

div.container-poetry:hover {
  filter: opacity(30%);
}

/* .me {
  position: absolute;
  top: 20px;
  left: 900px;
  border: 1px solid black;
  height: 50px;
  width: 170px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 50%;
  color: black;
  text-align: center;
  display: none;
  transition: all .3s ease
} */
