@font-face {
  font-family: 'Lack';
  src:
       url('../fonts/Lack-Line-Regular.otf') format('otf');
}

@import url('https://fonts.googleapis.com/css?family=Forum');

body {
  width: 100vw;
  font-family: 'Forum', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #EF8354; */
  background-color: #FBFEFB;
  /* background-color: #BEDCFE; */
  color: #DB3A34;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}

::selection{
    background-color: #000;
    color: white;
}

section.stuff {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  z-index: 3333333;
  position: fixed;
}

span {
  cursor: pointer;
  font-family: 'Lack Line';
  margin: auto;
  font-size: 90px;
  transition: 2s all ease
}

span:hover {
  font-family: 'Lack';
  color: #F298E9;
  font-size: 55px;
}

div.main {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

div.big {
  margin-top: 85px;
}
/*
div.big::after:hover, div.big::before:hover {
  content: "click me";
} */

.draggable {
  cursor: grab;
}

div.container-video {
  height: 200px;
  width: 400px;
  cursor: pointer;
  margin-left: -80px;
  margin-top: -220px;
}

video:hover {
  filter: opacity(30%);
}

video {
  transition: .3s all ease;
  height: 200px;
  width: 400px;
}

.videoText {
  font-family: 'Forum', cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.videoText:hover {
  color: black;
}

div.container-poetry {
  height: 200px;
  width: 400px;
  cursor: pointer;
  transition: .3s all ease;
  margin-right: -80px;
  margin-top: -220px;
}

div.poetry {
  position: absolute;
  height: 200px;
  width: 400px;
  background-image: url(../images/setka.jpg);
  background-size: cover;
}

.poetryText {
  z-index: 999;
  font-family: 'Forum', cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: blue;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

div.container-poetry:hover {
  filter: opacity(30%);
}

.draggable {
  transition: all 1s ease;
}

span.gone {
  transform: translate3d(0, -100%, 0);
}
