@font-face {
  font-family: 'Lazurski';
  src:
       url('../fonts/Lazurski.ttf') format('ttf');
}

@import url('https://fonts.googleapis.com/css?family=Forum');

body {
  font-family: 'Forum', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFEFB;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}

::selection{
  background-color: #000;
  color: #aaa;
}

a {
  color: inherit;
  text-decoration: none;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 1100px;
  margin-top: 380px;
  text-align: center;
  line-height: 300px;
}

.home {
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  transition: .3s all ease
}

.home:hover {
  color: white;
  background-color: #EF8354;
  cursor: pointer;
  border: 2px solid #EF8354;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
     text-align: center;
     font-size: 18px;
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
}

.other {
  font-size: 23px;
  position: fixed;
  top: 400px;
  left: 350px;
  background-image: url(../images/line.png);
  background-size: cover;
  cursor: pointer;
  opacity: 1
}

.nothing {
  font-size: 23px;
  position: fixed;
  top: 450px;
  left: 350px;
  cursor: pointer;
  opacity: 1
}


.nothing:hover {
  opacity: 0.3;
}


.other:hover {
  opacity: 0.3;
}

.prev {
  width: 70px;
  height: 70px;
  background-image: url(../images/prev.png);
  background-size: cover;
  position: fixed;
  top: 240px;
  left: 150px;
  opacity: 0;
}

.next {
  width: 70px;
  height: 70px;
  background-image: url(../images/next.png);
  background-size: cover;
  position: fixed;
  top: 320px;
  left: 150px;
  opacity: 0;
}

.pictures {
  cursor: pointer;
  margin-left: 100px;
}

 .pictures div {
   cursor: move;
 }

.i1  {
  background-image: url(../images/blue.png);
  height: 46.5px;
  width: 44.5px;
  background-size: cover;
}

.i2  {
  background-image: url(../images/box.png);
  height: 205px;
  width: 74px;
  background-size: cover;
}

.i3  {
  background-image: url(../images/green.png);
  height: 124px;
  width: 103px;
  background-size: cover;
}

.i4  {
  background-image: url(../images/hand.png);
  height: 30px;
  width: 45px;
  background-size: cover;
}

.i5  {
  background-image: url(../images/letter.png);
  height: 34px;
  width: 28px;
  background-size: cover;
}

.i6  {
  background-image: url(../images/orange.png);
  height: 75px;
  width: 33px;
  background-size: cover;
}

.i7 {
  position: relative;
  left: 50px;
  background-image: url(../images/phone.png);
  height: 242px;
  width: 131px;
  background-size: cover;
  cursor: grabbing;
  transition: all 1s ease;

}

.i7:hover {
  filter: invert();
}

.i8  {
  background-image: url(../images/white.png);
  height: 45px;
  width: 76px;
  background-size: cover;
}

.i9  {
  background-image: url(../images/car.png);
  height: 55px;
  width: 124px;
  background-size: cover;
}

.display {
  display: inherit;
}

.gone {
  transform: translate3d(0, -140%, 0);
}
