@font-face {
  font-family: 'Lazurski';
  src:
       url('../fonts/Lazurski.ttf') format('ttf');
}

@font-face {
  font-family: 'Lazurski';
  src:
       url('../fonts/LazurskiCyrillic.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Forum&subset=cyrillic,cyrillic-ext,latin-ext');

body {
  font-family: 'Forum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFEFB;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}

::selection{
  background-color: #000;
  color: #aaa;
}

a {
  color: inherit;
  text-decoration: none;
}

article {
  margin-bottom: 100px;
  margin-left: 100px;
}

.swiper-container {
  height: 800px;
  width: 600px;
  border: 1px solid white;
  overflow-y: scroll;
  margin: 0 auto;
}

.swiper-container:hover {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.swiper-slide:first-child {
  width: 340px;
  margin: 0 auto;
  margin-bottom: 290px;
  margin-top: 100px;
  margin-bottom: 290px;
}

.home {
  z-index: 147;
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  transition: .3s all ease
}

.home:hover {
  color: white;
  background-color: #EF8354;
  cursor: pointer;
  border: 2px solid #EF8354;
}

/* .other {
  z-index: 9999;
  font-size: 23px;
  position: fixed;
  top: 400px;
  left: 350px;
  background-image: url(../images/line.png);
  background-size: cover;
  cursor: pointer;
  opacity: 1
} */

.nothing {
  z-index: 9999;
  font-size: 23px;
  position: fixed;
  top: 450px;
  left: 300px;
  cursor: pointer;
  opacity: 1;
  background-image: url(../images/line.png);
  background-size: cover;
}

.nothing:hover {
  opacity: 0.3;
}

/* .prev {
  z-index: 9999;
  width: 70px;
  height: 70px;
  background-image: url(../images/prev.png);
  background-size: cover;
  position: fixed;
  top: 240px;
  left: 150px;
  opacity: 0;
}

.next {
  z-index: 9999;
  width: 70px;
  height: 70px;
  background-image: url(../images/next.png);
  background-size: cover;
  position: fixed;
  top: 320px;
  left: 150px;
  opacity: 0;
} */

.pictures {
  cursor: pointer;
  margin-left: 100px;
}

 .pictures div {
   cursor: move;
 }

.i1  {
  background-image: url(../images/blue.png);
  height: 46.5px;
  width: 44.5px;
  background-size: cover;
}

.i2  {
  background-image: url(../images/box.png);
  height: 205px;
  width: 74px;
  background-size: cover;
}

.i3  {
  background-image: url(../images/green.png);
  height: 124px;
  width: 103px;
  background-size: cover;
}

.i4  {
  background-image: url(../images/hand.png);
  height: 30px;
  width: 45px;
  background-size: cover;
}

.i5  {
  background-image: url(../images/letter.png);
  height: 34px;
  width: 28px;
  background-size: cover;
}

.i6  {
  background-image: url(../images/orange.png);
  height: 75px;
  width: 33px;
  background-size: cover;
}

.i7 {
  position: relative;
  left: 50px;
  background-image: url(../images/phone.png);
  height: 242px;
  width: 131px;
  background-size: cover;
  cursor: grabbing;
  transition: all 1s ease;
}

.i7:hover {
  filter: invert();
}

.i8  {
  background-image: url(../images/white.png);
  height: 45px;
  width: 76px;
  background-size: cover;
}

.i9  {
  background-image: url(../images/car.png);
  height: 55px;
  width: 124px;
  background-size: cover;
}

.circle {
  border: 2px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  line-height: 300px;
}
