@font-face {
  font-family: 'Lack';
  src:
       url('../fonts/Lack-Line-Regular.otf') format('otf');
}

@import url('https://fonts.googleapis.com/css?family=Forum');

body {
  width: 100vw;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}


h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 200px;
  text-align: center;
}

p {

  font-family: 'Helvetica';
  line-height: 20px;
  width: 800px;
  font-size: 16px;
  margin: 0 auto;
}

.home {
  z-index: 9999;
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  text-align: center;
  line-height: 60px;
  border: 2px solid white;
  text-transform: uppercase;
  transition: .3s all ease
}

.home:hover {
  background-color: white;
  cursor: pointer;
}
